# Data to test, in groupvars
---
# Common vars just calling out all the things I can think of:
ssh_user: "user"
ssh_config: "~/.ssh/config"
projects_root: "~/projects/"
host_path: "~/projects/inventory/"
host_file: "~/projects/inventory/hosts"

# These vars get called by the vagrant file
# The file ingests all this data

# Host vars - but not in hostvars
# This format works great!!
# Vagrant reads in the dict of list, but it doesn't know about the other vars
# so for now you have to fully specify the box data, no shortcuts.
# probably can do this inside of the vagrant file, as we suck all that info in

# Bootstrap part passes the name into the play via vagrant
# but is does mean you can call differnet bootstraps for different hosts

# Remeber the state flag!!!!!!
# If you want to clean up the sshconfig, inventory file, and hosts file
# you can add the abscent flag before you destroy the vm

host_list:
  - name: dev1
    provider: virtualbox
    group: dev
    ip: "1.1.1.10"
    vm_name: dev1
    mem: 512
    cpus: 1
    box: 'centos/6'
    box_url: 'https://vagrantcloud.com/centos/boxes/6'
    bootstrap: 'bootstrap.yml'
    type: "linux"
    state: "present"

  - name: dev2
    provider: virtualbox
    group: dev
    ip: "1.1.1.11"
    vm_name: dev2
    mem: 512
    cpus: 1
    box: 'centos/6'
    box_url: 'https://vagrantcloud.com/centos/boxes/6'
    bootstrap: 'bootstrap.yml'
    type: "linux"
    state: "present"

  - name: dev3
    provider: virtualbox
    group: dev
    ip: "1.1.1.12"
    vm_name: dev3
    mem: 512
    cpus: 1
    box: 'centos/6'
    box_url: 'https://vagrantcloud.com/centos/boxes/6'
    bootstrap: 'bootstrap.yml'
    type: "linux"
    state: "present"

  - name: dev4
    provider: virtualbox
    group: eve
    ip: "1.1.1.13"
    vm_name: dev4
    mem: 512
    cpus: 2
    box: 'ubuntu/bionic64'
    box_url: 'https://app.vagrantup.com/ubuntu/boxes/bionic64'
    bootstrap: 'bootstrap.yml'
    type: "linux"
    state: "present"
    python3: true

 # Templated data, as this format is working well: 
  # - name: xxx
  #   provider: virtualbox
  #   group: monitoring
  #   ip: 1.1.1.xx
  #   vm_name: xx
  #   mem: 512
  #   cpus: 1
  #   box: 'xxx'
  #   box_url: 'xx'
  #   bootstrap: 'bootstrap.yml'
  #   type: "linux"
  #   state: "present"


