# Data to test, in groupvars
---
# Common vars just calling out all the things I can think of:
ssh_user: "andy"
ssh_config: "~/.ssh/config"
projects_root: "~/projects/"
vagrant_root: "~/projects/vagrant/"
playbook_root: "~/projects/playbooks/"
inventory_root: "~/projects/inventory/"

# These vars get called by the vagrant file
# The file ingests all this data
# Ansible version is used during the bootstrap, might need to be autgenerated
# as it will throw an error if testing with a python virtual env, hard coded for now
bootstrap: "bootstrap.yml"
ansible_vagrant: "2.4.2.0"

# Other varables
domain: "test.local"
primary: "8.8.8.8"
secondary: "8.8.4.4"

# Box specific vars
# Dict of dicts in case we want to build out more data
centos7:
  box: "centos/7"
  box_url: 'https://vagrantcloud.com/centos/boxes/7'

ubuntuTrusty:
  box: "ubuntu/trusty64"
  box_url: "https://app.vagrantup.com/ubuntu/boxes/trusty64"

cisco_1000:
  box: "cisco/csr1000v"

cisco_9000:
  box: "n9000v"

# Host vars - but not in hostvars
# This format works!!
# Vagrant reads in the dict of list, but it doesn't know about the other vars
# so for now you have to fully specify the box data, no shortcuts.
host_list:
  - name: splunk1
    provider: virtualbox
    group: monitoring
    ip: 1.1.1.10
    vm_name: splunk1
    mem: 512
    cpus: 1
    box: 'centos/7'
    box_url: 'https://vagrantcloud.com/centos/boxes/7'
    bootstrap: 'bootstrap.yml'
    type: "linux"
    state: "present"

  - name: dev
    provider: virtualbox
    group: monitoring
    ip: 1.1.1.11
    vm_name: dev
    mem: 512
    cpus: 1
    box: 'ubuntu/trusty64'
    box_url: 'https://vagrantcloud.com/ubuntu/trusty64'
    bootstrap: 'bootstrap.yml'
    type: "linux"
    state: "present"


 # Templated data, as this format is working well: 
  # - name: xxx
  #   provider: virtualbox
  #   group: monitoring
  #   ip: 1.1.1.xx
  #   vm_name: xx
  #   mem: 512
  #   cpus: 1
  #   box: 'xxx'
  #   box_url: 'xx'
  #   bootstrap: 'bootstrap.yml'
  #   type: "linux"
  #   state: "present"


